In [ ]:
Q1) what are data structures,and why are they important?
>> Data structures are ways to store and organize data efficiently for specific uses,and they are important because they determine
    how quickly data can be accessed,managed,and processed.

In [ ]:
Q2) Explain the difference between mutable and immutable data types with example.
>> Mutable data types can be changed after they created,while immutable data types cannot

In [ ]:
Q3) what are the main difference between lists and tuples in python?
>> Lists are mutable, while tuples are immutable.

In [ ]:
Q4) Describe how dictionaries store data.
>> Dictionaries store data in key-value pairs.

In [ ]:
Q5) why might you use a set instead of a list in python?
>> Sets automatically handle unique elements and provide faster membership testing and removal of duplicates.

In [ ]:
Q6) what is a string in python, and how is it different from a list?
>> A string is an immutable sequence of characters, while a list is a mutable sequence that can hold items of various data types.

In [ ]:
Q7) How do tuples ensure data intergity in python?
>> Immutability

In [ ]:
Q8) what is a hash table,and how does it relate to dictionaries in python?
>> A hash table is a data structure that implements an associative array abstract data type,a structure that can map keys to values.

In [ ]:
Q9) Can lists contain different data types in python?
>> yes lists in python can contain different data types.

In [ ]:
Q10) Explain why strings are immutable in python.
>> Strings are immutable in python to ensure data integrity,make them memory-efficient,and allow them to be safely shared and used in certain 
  data structures.

In [ ]:
Q11) what advantages do dictionaries offer over lists for certain tasks?
>> 1)Dictionaries offer key-based access and faster lookups for specific values
 while lists are ordered sequences best suited for indexed access.

In [ ]:
Q12) Describe a scenario where using a tuple would be perferable over a list.
>> Storing a fixed collection of related iteams,such as coordinates or database records,that should not be changed after creation.

In [ ]:
Q13) How do sets handle duplicate values in python?
>> Sets automatically discard duplicate values, ensuring each element is unique.

In [ ]:
Q14) How does the "in" keyword work differently for lists and dictionaries?
>> the in keyword checks for membership differently based on the data structure's underlying implementation and time complexity.

In [ ]:
Q15) can you modify the elements of a tuple? Explain why or not.
>> No 
   Tuples are immutable data structures in many programming languages

In [ ]:
Q16) what is a nested dictionary,and give an example of its use case?
>> A nested dictionary is a dictionary where one or more of its values are themselves dictionaries.

In [ ]:
Q17) Describe the time complexity of accessing elements in dictionary.
>> 0(1)
   Dictionaries use a hash table data structure

In [ ]:
Q18) In what situations are lists preferred over dictionaries?
>> When the order of elements matters,or when data needs to be accessed by numerical index.

In [ ]:
Q19) why are dictionaries considered unordered,and how does that affect data retrieval?
>> because they do not guarantee that the order of items will be preserved

#PRACTICAL

In [ ]:
Q1) Write a code to create a string with your name and print it.

In [1]:
name = "Rohit"
print(name)

Rohit

In [ ]:
Q2) write a code to find the length of the string "Hello World".

In [2]:
my_string = "Hello world"
length = len(my_string)
print(length)

11

In [ ]:
Q3) Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
s = "python programming"
s[0 : 3]

'pyt'

In [ ]:
Q4) Write a code to convert the string "Hello" to uppercase.

In [5]:
text = "Hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [ ]:
Q5) Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [8]:
original_string = "i like apple"
new_string = original_string.replace("apple", "orange")
print(new_string)

i like orange

In [ ]:
Q6) Write a code to create a list with numbers 1 to 5 and print it.

In [9]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
Q7) write a code to append the number 10 to the list [1,2,3,4].

In [11]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
Q8) Write a code to remove the number 3 from the list [1,2,3,4,5].

In [20]:
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
Q9) write a code to access the second element in the list ['a','b','c','d'].

In [15]:
my_list = ['a','b','c','d']
second_element = my_list[1]
print(second_element)

b

In [ ]:
Q10) Write a code to reverse the lists [10,20,30,40,50].

In [17]:
my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
Q11) write a code to create a tuple with elements 100,200,300 and print it.

In [18]:
t = (100,200,300)
print(t)

(100, 200, 300)

In [ ]:
Q12) write a code to access the second-to-last element of the tuple ('red','green','blue','yellow').

In [19]:
my_tuple = ('red','green','blue','yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

In [ ]:
Q13) write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [23]:
numbers = (10, 20, 5, 15)
minimum_number = min(numbers)
print(minimum_number)

5

In [ ]:
Q14) write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [24]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [ ]:
Q15) write a code to create a set with the elements 'a','b','c' and print it.

In [25]:
my_set = {'a','b','c'}
print(my_set)

{'b', 'c', 'a'}

In [ ]:
Q16) write a code to create a tuple containing three different fruits and check if"kiwi" is in it

In [27]:
fruits = ('apple', 'banana','orange')
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple.")

kiwi is not in the tuple.

In [ ]:
Q17) write a code to clear all elements from the set {1,2,3,4,5}.

In [28]:
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [ ]:
Q18) write a code to remove the element 4 from the set {1,2,3,4}.

In [29]:
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
Q19) write a code to find the union of two sets {1,2,3} and {3,4,5}.

In [30]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
Q20) write a code to find the intersecion of two sets {1,2,3} and {2,3,4}

In [31]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [ ]:
Q21) write a code to create a dictionary with the keys "name","age", and "city",and print it.

In [32]:
person = {
    "name":"om",
    "age":30,
    "city":"new York"
}
print(person)

{'name': 'om', 'age': 30, 'city': 'new York'}

In [ ]:
Q22) write a code to add a new key-value pair "country":"USA" to the dictionary {'name':'john','age':25}

In [33]:
user_info = {'name':'john','age':25}
user_info['country'] = 'USA'
print(user_info)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [ ]:
Q23) write a code to access the value associated with the key "name" in the dictionary  {'name':'Alice','age':30}

In [34]:
data = {'name':'Alice','age':30}
value = data["name"]
print(value)

Alice

In [ ]:
Q24) write a code to remove the key"age" from the dictionary {'name':'Bob','age':22,'city':New York'}

In [36]:
person = {'name':'Bob','age':22,'city':'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
Q25) write a code to check if the key "city" exists in the dictionary  {'name':'Alice','city':'paris'}

In [37]:
person = {'name':'Alice','city':'paris'}
if "city" in person:
    print("the key 'city' exist")
else:
    print("the key does not in exist.")

the key 'city' exist

In [ ]:
Q26) write a code to create a list,a tuple,and a dictionary,and print them all.

In [39]:
my_list = [1, 2, 3, 'a', 'b', 'c']
my_tuple = (10, 20, 30, 'x', 'y','z')
my_dict = {'key1':'value1','key2':'value2','key3':'value3'}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 'a', 'b', 'c']
(10, 20, 30, 'x', 'y', 'z')
{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}